.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    min-height: 100vh;
    padding: 0 0.5rem;
}

.title {
    margin-bottom: 80px;
}

.card {
    margin-top: 20px;
    min-width: 200px;
    height: 100px;
}

.cardsBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 800px;
    margin-top: 3rem;
}

.tagsSpan {
    display: flex;
    justify-content: space-between;
}

.placesBlock {

    margin-top: 30px;
}